@font-face {
    font-family: "Honk";
    src: url(/fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}
@font-face {
    font-family: "Tourney";
    src: url(/fonts/Tourney/Tourney-VariableFont_wdth\,wght.ttf);
}
